@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card_section::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 10px;
  transition: all 5s ease 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9e3cf4;
}

@layer base {
  body {
    @apply bg-[#121212] text-[#F9FAFB];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  h3 {
    @apply text-2xl sm:text-4xl;
  }

  h4 {
    @apply text-xl sm:text-3xl;
  }

  h5 {
    @apply text-lg sm:text-xl;
  }

  section {
    @apply bg-[#1E1E1F] border-2 border-[#B86CF9] rounded-xl mt-5 px-4;
  }

  li {
    @apply cursor-pointer transition-all duration-300 flex justify-center items-center gap-2 text-[12px] sm:text-[16px];
  }

  li:hover {
    @apply text-[#B86CF9];
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-['#5651e5'] to-["#709dff"];
  }
}

@layer components {
  .section-heading {
    @apply text-white font-bold py-2 rounded w-fit;
  }
  .section-heading::after {
    content: "";
    display: block;
    height: 7px;
    width: 70%;
    background-color: #b86cf9;
    margin-top: 0.5rem;
    border-radius: 8px;
  }
  .card_section {
    @apply flex items-center gap-4 overflow-x-auto py-4 px-3;
  }
  .card {
    @apply bg-[#252526] border-2 border-transparent transition-all duration-500 hover:border-[#B86CF9] hover:scale-110 hover:bg-transparent flex flex-col justify-center items-center gap-3 rounded-2xl min-w-[200px] h-[200px];
  }
}
